.body
  .body__item
    .adwertising
      .adwertising__info.
        We have it takes to </br>  take your websitet the
      span new height of success

    .incut

    button.btn(src="") get started here

  .body__header
    .body__header-item
      .header__item-img
        img(src="http://abali.ru/wp-content/uploads/2011/10/koshelek.png")
      .body__header-text.
        Save big with us
    .body__header-item
      .header__item-img
        img(src="http://img.lenagold.ru/ch/chas/karm/karmchas022.png")
      .body__header-text.
        Always on time
    .body__header-item
      .header__item-img
        img(src="http://callcenters.by/images/telephony/skype/FREETALK_Office_Phone.png")
      .body__header-text.
        Contact us
