doctype html
html(lang="ru")
head
  meta(charset="utf-8")
  link(rel="stylesheet" href="styles/main.min.css")
  script(src="https://code.jquery.com/jquery-3.2.1.min.js")
  script(src="js/main.js")
body
  include src/header/header/header.pug
  include src/header/body/body.pug
  include src/body/body.pug
