@import "src/header/header.styl"
@import "src/header/body.styl"
@import "src/body/header/header.styl"
@import "src/body/body/body.styl"
@import "src/body/footer/footer.styl"
*
  padding: 0;
  text-decoration: none;
  transition:  all .9s;
