.body
  background-image:url(https://hdwallsource.com/img/2014/4/free-background-wallpaper-22918-23554-hd-wallpapers.jpg) ;
  background-repeat: no-repeat;
  &__item
    //height: 500px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;

    .adwertising

      &__info
        margin-top: 30%;
        margin-left: 20%;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        line-height: 25px;
      span
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-size: 1.5em;
        margin-left: 20%;
