.body__footer
  .body__footer-item
    h2 Who we are?
    img(src="http://content.pulse.ea.com/content/legacy/battlefield-portal/ru_RU/news/battlefield-1/battlefield-1-vehicles-overview/_jcr_content/featuredImage/renditions/rendition1.img.jpg")
    span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    br
    button read more
  .body__footer-item
    h2 What we do?
    img(src="https://content.pulse.ea.com/content/legacy/battlefield-portal/ru_RU/news/battlefield-1/melee-combat-of-Battlefield-1/_jcr_content/body/image/renditions/rendition1.img.jpg")
    span Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    ul
      li Website Design
      li Blog Design
      li Branding Design
  .body__footer-item
    h2 Why hire us?
    img(src="http://imgsnap.com/images/2015/10/14/o-COOL-CAT-facebook.jpg")
    span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    br
    button read more
