.body__footer
  background-color: white;
  display: grid;
  grid-template-rows: repeat(3, 300px);
  grid-row-gap: 120px;
  grid-template-columns: 1fr;
  justify-content: space-around;
  text-align: center;


  &-item
    color: rgb(117, 117, 119);
    font-size: .9em;
    line-height: 20px;
    margin-bottom: 200px;

    img
      width: 100%;
    h2
      background-color: rgb(169, 187, 164);
    ul
      li
        // list-style-image: url(https://www.shareicon.net/data/128x128/2016/09/05/825222_miscellaneous_512x512.png);

        list-style: none;

        background-image: url(https://www.shareicon.net/data/128x128/2016/09/05/825222_miscellaneous_512x512.png);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 30px;
        margin: 0;
        padding: 5px 0 5px 34px;

    button
      width: 45%;
      height: 30px;
      background-color: rgb(15, 20, 50);
      text-transform: uppercase;
      border-radius: 15px;
      cursor: pointer;

      &:hover
        background-color: rgb(0, 198, 70);


    //padding: 10%;
