.header__body
  .header__logo
    img.header__logo-img(src="http://pngimg.com/uploads/car_logo/car_logo_PNG1669.png?i=1" alt="Logo")
    .header__logo-slogan
      span.header__logo-slog BUSINESS
      span.header__logo-info Your business caption here
  #hamburger
    span
    span
    span

  .header__nav
    #close
      span
      span
    ul
      li
        a(href="#") home
      li
        a(href="#") active
      li
        a(href="#") services
      li
        a(href="#") portfolio
      li
        a(href="#") contact
