.header
  .header__phone
    img.header__phone-img(src="http://www.freeiconspng.com/uploads/active-call-phone-icon--icon-search-engine-11.png" alt="mobile phone ")
    span.header__phon-number 123-456-7890
