.header
  width: 90%;
  height: 50px;

  .header__phone
    width: 16%;
    height: 6%;
    background-color: red;
    position: absolute;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 5px;
    border-radius: 25% 0 0 6%;
    left: 80%;
    &-img
      width: 30px;
      img
        width: 30px;
